<i class="fas fa-user user-icon"></i>

<span> Customer Information </span>

<div class="menu-items">
        <i class="fas fa-list-ul"></i> <span class="margin-right">Customer Deatails</span>
        <i class="fas fa-edit"></i> <span>Edit Customer</span>
</div>

<div class="edit-customer-container">
        <img class="user-img" src="https://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/256/User_man_male_profile_account_person_people.png" alt="">
        <div class="user-info">
                <span>{{customerRes.firstName}} {{customerRes.lastName}}</span>
                <div class="clear-height"></div>
                <span class="address">{{customerRes.address}}</span>
                <span class="address">{{customerRes.city}}</span>
                <span class="address">{{customerRes.state}}</span>
        </div>
</div>

<img class="map-size" src="https://developers.google.com/maps/documentation/urls/images/map-no-params.png" alt="">