.user-icon{
  position: relative;
  margin: 6em 0 0 5em;
}

.edit-customer-container{
  padding: 2em 38em 0 5em;
  display: flex;
  flex-direction: inherit;

  .user-img{
    height: 9em;
  }
  
  .user-info{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 2em;
        
    .clear-height{
      height: 2em;
    }

    .address{
      font-size: smaller;
    }
  }

}

.menu-items{
  display: flex;
  padding: 3em 5em;

  .margin-right{
    margin: 0 13em 0 0;
  }
}

.map-size{
  padding: 4em 5em;
  width: 100%;
}