.user-icon{
    position: relative;
    margin: 6em 0 0 5em;
}


.edit-customer-container{
    padding: 2em 38em 0 5em;

    .span-style{
        padding: 4px 4px !important;
        background: #008000c9;
    }
}

.float-right {
    float: right;
}

.button-group{
    margin: 3em 0 0 0;
    
    .margin-right{
        margin: 0 1em 0 0;
    }
}
