.card-cantainer{
    width: 16em;
    height: 8.5em;
    border-bottom: 1px solid #8080802b;
    border-right: 1px solid #8080802b;
    border-left: 1px solid #8080802b;

    .card-header{
        height: 2em;
        align-items: center;
        display: flex;
        background-color: #007bff;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 12px 5px 12px 5px;
    }

    img{
        height: 3em;
    }

    .card-title{
        display: inline;
        font-size: 14px;
        margin: 0em 0em 0em 2em;
    }

    .card-body{
        display: flex;
    }

    .card-body .card-title .card-address{
        font-size: 12px;
    }
}

.edit{
    cursor: pointer;
}