.app-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: black !important;
    background-color: white !important;
}