<i class="fas fa-user user-icon"></i> 
<span>Test</span>

<div>
                <div>
                                First Name:
                </div>
                <div class="input-group input-group-sm mb-3">
                       
                        <div class="input-group-prepend">
                                <span class="input-group-text span-style" id="inputGroup-sizing-sm"></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                
                <div>
                                Last Name:
                </div>
                <div class="input-group input-group-sm mb-3">
                       
                        <div class="input-group-prepend">
                                <span class="input-group-text span-style" id="inputGroup-sizing-sm"></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                
                <div>
                                Gender:
                </div>
                <input type="radio" aria-label="Radio button for following text input">
                <input type="radio" aria-label="Radio button for following text input">
                
                <div>
                                Email:
                </div>
                <div class="input-group input-group-sm mb-3">
                       
                        <div class="input-group-prepend">
                                <span class="input-group-text span-style" id="inputGroup-sizing-sm"></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                
                <div>
                                Address:
                </div>
                <div class="input-group input-group-sm mb-3">
                       
                        <div class="input-group-prepend">
                                <span class="input-group-text span-style" id="inputGroup-sizing-sm"></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                
                <div>
                                City:
                </div>
                <div class="input-group input-group-sm mb-3">
                       
                        <div class="input-group-prepend">
                                <span class="input-group-text span-style span-style" id="inputGroup-sizing-sm"></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                
                <div>
                                State:
                </div>
                <div class="input-group input-group-sm mb-3">
                       
                        <div class="input-group-prepend">
                                <span class="input-group-text span-style" id="inputGroup-sizing-sm"></span>
                        </div>
                        <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                
                <button type="button" class="btn btn-danger">Delete</button>
                <button type="button" class="btn btn-outline-primary">Cancel</button>
                <button type="button" class="btn btn-success">Update</button>
</div>
