<div class="tab-group">
  <ngb-tabset>
    <ngb-tab title="Customers">
      <ng-template ngbTabContent>
        <div>
          <i class="fas fa-user fa-2x"></i> 
          <h5>Customers</h5>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Orders">
      <ng-template ngbTabContent>
        <p>Because default values have been customized.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="About">
      <ng-template ngbTabContent>
        <p>Because default values have been customized.</p>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Login">
      <ng-template ngbTabContent>
        <p>Because default values have been customized.</p>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
