/*styles for home content only*/

.customer-header-container{
    margin: 4.5em 0 0 4.4em;
    
    .customer-header {
        display: inline;
    }
}

.customer-body-container{
    display: flex;
    justify-content: space-between;
    padding: 3em 14em 0 6em;
    
    .menu-title{
        display: contents;

        .list-cursor{
            cursor: pointer;
            user-select: none;
        }
    }
}

.customer-pagination{
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.card-container{
    display: flex;
    padding: 5em 0em 2em 4.5em;
    flex-wrap: wrap;
}

.card-list{
    flex-direction: row;
    padding: 5em 56.4em 0 4.5em;
}

.card-grid{
    flex-direction: row;
}

.card{
    margin: 0 2em 2em 0;
}