/* You can add global styles to this file, and also import other style files */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: black;
    background-color: white;
}

.nav-pills .nav-link{
    color: white;
}

.nav-item {
    padding-top: 5px;
    line-height: 1;
}